<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to public_user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがpost_ideaの時) -->
    <tbody>
      <% @post_ideas.each do |post_idea| %>
        <tr>
          <% if post_idea.status == "published" %>
            <td><%= link_to post_idea.title, public_post_idea_path(post_idea.id) %></td>
            <td><%= post_idea.free_body.truncate(50) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>