@use '~bootstrap/scss/bootstrap';

* {color:black;}

// public_sessions_new
.login_box{
  margin-top:150px;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.colorgraph {
  height: 10px;
  border-top: 0;
  background: #66CCFF;
}

.post_idea_card{
  background-color:#eee!important;
  width:100%;
}

.sidebar-container{
  background-color:#eee!important;
}

.main-container{
  background-color:#FFFFFF;
}

.user-navi{
  background-color:#808080;
}
.item{
  color:#ffffff!important;
}

.post_idea_image{
  height:400px;
  width:700px;
}

.post_title{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_index_img{
  width:100%;
  height:220px;
  object-fit:contain;
}



@media (max-width: 576px) {
  .dropdown-menu {
    display: block;
  }
}

.header_icon_color{
  color:#ffffff;
}

.header_logo{
  color:#FFFF00;
}

.good_btn{
  color:#FF00FF;
}

.border_item{
  border-top: solid;
}

.border_item_purchase{
  border-top: dashed black;
}

// .logo_img{
//   background-image: url('app/assets/images/favoco.ico');
// }