<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 main-container">
      <%= render 'public/post_ideas/post_idea_card', post_ideas: @post_ideas %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="justify-content-center">
      <%= paginate @post_ideas %>
    </div>
  </div>
</div>