<nav class="navbar navbar-expand-lg bg-body-tertiary user-navi">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pl-3">
      <li class="nav-item">
        <%= link_to "投稿一覧", public_user_path(current_user.id), class:'nav-link active item' %>
      </li>
      <% unless current_user.email == "guest@example.com" %>
        <li class="nav-item">
          <%= link_to "購入済み記事", public_user_purchased_user_path(current_user.id), class:'nav-link active item' %>
         </li>
        <li class="nav-item">
          <%= link_to "いいね記事一覧", public_user_favorite_all_path(current_user.id), class:'nav-link active item' %>
        </li>
        <li class="nav-item">
          <%= link_to "登録情報", edit_public_user_path(current_user.id), class:'nav-link active item' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>