<%= render 'public/users/show_navi' %>
<div class="d-flex justify-content-evenly">
  <% if @user == current_user %>
  <p>
    <%= link_to "登録情報編集", edit_public_user_path(current_user.id) %>
  </p>
  <% end %>
  
</div>